// Colors
$main-color-text: #1d2335;
$black: #000;
$white: #fff;
$dark-blue: #002b7e;
$blue: #0096f2;
$middle-blue: #006da3;
$green: #00c853;
$red: #f2291f;
$grey: #929aa3;
$middle-grey: #d3dbe8;
$light-grey: #f2f2f2;
$dark-grey: #677687;

// Typography

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-family-base: 'Open Sans', Verdana, sans-serif;
$font-family-second: 'Verdana', sans-serif;
$font-size-base: 16px;
$font-size-small: 0.75rem; //12px
$font-size-normally: 0.875rem; //14px
$font-size-header: 2rem; //32px
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$opacity-base: 0.8;
$border-radius-base: 8px;
